includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	tmpDir: tmp
	level: 8
	phpVersion: 80100
	paths:
		- woocommerce-fraud-protection.php
		- src/
	bootstrapFiles:
		- vendor/autoload.php
	scanFiles:
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- vendor/php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php
		- stubs/wc-unit-test-case.stub
		- stubs/constants.stub
		- stubs/wc-stripe-api.stub
		- stubs/wc-stripe-mode.stub
		- stubs/wc-payments.stub
		- stubs/wc-square.stub
		- stubs/wc-paypal.stub
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		- identifier: missingType.iterableValue
	parallel:
		maximumNumberOfProcesses: 4
