includes:
	- phpstan.neon
	- phpstan-7-baseline.neon

parameters:
	phpVersion: 70400
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- identifier: missingType.iterableValue
		-
			message: '#Function str_(starts_with|ends_with|contains) not found\.#'
			identifier: function.notFound
